// import Vanilla and include base mixins
// this only needs to happen once in a given project
@import 'node_modules/vanilla-framework';
@include vf-base;

@include vf-p-buttons;

:host {
  display: inline-block;
}

v-icon:first-child {
  margin-left: -$sph--small;
  margin-right: $sph--small;
}
v-icon:last-child {
  margin-left: $sph--small;
  margin-right: -$sph--small;
}

button {
  margin-bottom: 0 !important;
}

// spin animation
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.is-processing {
  color: transparent;
  position: relative;

  ::slotted(*) {
    color: transparent;
    opacity: 0;
  }

  v-icon {
    left: calc(50% - $sph--small);
    margin: 0;
    position: absolute;
  }
}
