// import Vanilla and include base mixins
// this only needs to happen once in a given project
@import 'node_modules/vanilla-framework';
@include vf-base;

@include vf-p-buttons;

// when using icons within buttons you need to include icons as well
@include vf-p-icons;

:host {
  display: inline-block;
}

::slotted(i) {
  margin: 0 $sph--small !important;
}

::slotted(i:first-child) {
  margin-left: -$sph--small !important;
  margin-right: $sph--small !important;
}
::slotted(i:last-child) {
  margin-left: $sph--small !important;
  margin-right: -$sph--small !important;
}

// spin animation
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.is-processing {
  color: transparent;
  position: relative;

  ::slotted(*) {
    color: transparent;
    opacity: 0;
  }

  .p-icon--spinner {
    animation: spin 1s linear infinite;
    left: calc(50% - $sph--small);
    position: absolute;
    top: $spv--small;
  }
}
